<% include partials/header.ejs %>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <form action="/home" method="get">
                    <div class="input-group mb-3">
                        <input type="text" name="filter" class="form-control" placeholder="Search Groups..." aria-label="Search Groups..." aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-info" type="submit" id="button-addon2">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card text-center" style="margin-bottom: 15px;">
                    <div class="card-body">
                        <h2 class="card-title">Filter Groups</h2>
                        <form action="/home" method="get">
                            <div class="form-group">
                                <select name="filter" id="country" class="form-control">
                                    <option value="">Filter By Country</option>
                                    <% countries.forEach(function(country) { %>
                                        <option value="<%= country._id %>"><%= country._id %></option>
                                    <% }) %>
                                </select>
                            </div>
                            <button class="btn btn-outline-info" type="submit">Apply Filter</button>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        Online Friends <span id="num-of-friends"></span>
                    </div>
                    <% if(currentUser.friendsList.length > 0) { %>
                        <% currentUser.friendsList.forEach(function(friend) { %>
                            <div class="friend" hidden>@<%= friend.friendUsername %></div>
                        <% }) %>
                    <% } %>
                    <div id="online-friends" class="card-body online-cards-body">
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="container">
                    <div class="row">
                        <% if(groups.length > 0) { %>
                        <% groups.reverse().forEach(function(group) { %>
                            <div class="col-md-4" style="margin-bottom: 10px;">
                                <div class="card border-info">
                                    <a href="/group/<%= group.name.replace(/ /g, '-') %>">
                                    <img src="uploads/<%= group.image %>" class="card-img-top" alt="Desert Image">
                                    <div class="card-body">
                                        <h5 class="card-title"><%= group.name %> (<%= group.favourites.length %>)</h5>
                                        <p class="card-text"><%= group.country %></p>
                                    </div>
                                    </a>
                                    <div class="card-footer">
                                        <% var isFavourite = 0 %>
                                        <% group.favourites.forEach(function(fav) { %>
                                            <% if(currentUser.username === fav.username) { %>
                                                <% isFavourite = 1 %>
                                            <% } %>
                                        <% }) %>
                                        <% if(isFavourite) { %>
                                            <button class="btn btn-info" disabled>Added to Favourites</button>
                                        <% } else { %>
                                            <button id="<%= group._id %>" value="<%= group.name %>" class="btn btn-info favourite-btn">Add to Favourites</button>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                        <% } else { %>
                            <h2>No Groups Found</h2>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script> 
    <script src="../javascript/global.js"></script>
    <script src="../javascript/home.js"></script>
    <script src="../javascript/group/sendRequest.js"></script>
    <script src="../../javascript/messagelink.js"></script>
    
<% include partials/footer.ejs %>